---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// // Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram"
        //"layout"
        //"syntax-highlighting"
;

.navigation {
	height: 5.2rem;
	position: fixed;
	top:0px;
	width: 100%;
	background-color: $color-initial;
	margin-top: 0px;
	margin-left: 0px;
	border-bottom: 4px solid $color-primary;

	.container {
		max-width: 80%;
		text-transform: lowercase;
	}

	.title {
		float: left;
		// display: inline;
		padding-top: 0.8rem;
    @extend h5;
    color: black;
    
	}

	.navigation-item {
		display: inline;
		padding-left: 2rem;
		

	}

	.navigation-item a {
		padding: 0.8em 0.5em;

	}

	.navigation-list {
		list-style: none;
		padding-top: 1.1rem;
		font-weight: bold;
	}
}

body {
	margin: 0px 0px;
}


spam#gravatar img {
  width: 15%;
  float: left;
  margin: 1%;
}

hr {
    border-top: 1.1rem solid #f9f9f9;
    border-width: 1px;
    margin-bottom: 3.5rem;
    margin-top: 3rem;
}

.page-content {
	margin: 0 auto;
	width: 90%;

	.wrapper {
		margin-top: 5.2rem;
	}
}

.page-content img {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ecf0f1;
  display: block;
}

article.post {
    text-align: justify;
    font-weight: bold;
    font-family: Roboto;
}

.post-header {
	padding-top: 8rem;
}

#footer {
  padding: 0em 0 2em 0;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
  background: #f3f3f3;
  text-align: center;
  font-family: "Source Sans Pro", sans;
  letter-spacing: 0.1em;
}
#footer #social {
  list-style: none;
}
#footer #social li,
#footer #social a {
  width: 64px;
  height: 64px;
  display: inline-block;
}
#footer #social a {
  text-decoration: none;
  color: #999;
}
#footer #social a:hover {
  color: #0056b3;
}
#footer #social i {
  font-size: 96px;
  font-style: normal;
}
#footer #meta-info {
  color: #999;
}
#footer #meta-info .heart {
  color: #e74c3c;
  font-size: 1.3em;
  padding: 0 0.02em;
  position: relative;
  top: 0.1em;
}

.post-list {
	list-style: none;
	padding-top: 6rem;

	li {
		padding-top: 20px;
	}
}


.post-list .post-subtitle {

  font-family: 'Droid Serif', serif;
  margin: -0.7em 0px 0.5em 0px;
  font-size: 1.5em;
  color: #5E5E5E;

}

.post-list .post-subtitle:before {
    content: "—";
}

.post-list .post-meta {

    color: #ccc;
    font-size: 0.5em;
    margin-left: 0.5em;
    white-space: nowrap;
}

.post-list li {
  border-bottom: 1px solid #f3f3f3;
}


.post-list .post-link {

	font-weight: bold !important;
	font-family: -webkit-body;

}

h1.post-title {
    font-family: -webkit-body;
    font-weight: bold !important;
}

.social-media-list {
	list-style: none;

	li {
		display:inline;
	}
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $color-primary;
        }
    }
}

div#disqus_thread {
  padding-top: 1em;
}

.contact-list {
	list-style: none;
}
