<footer id="footer">
        <ul id="social">
          <li>
            <a href="http://github.com/lobocode" target="_blank"
               title="Cozinhando mentes no @ Github">
              <i class="entypo-social-github"></i>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/loboriseup" target="_blank"
               title="Meu quase não habitado Twitter">
              <i class="entypo-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/vitor-lobo/" target="_blank"
               title="Meu profile no Linkedin">
              <i class="entypo-social-linkedin"></i>
            </a>
          </li>
	</ul>
        <div id="meta-info">
          Fontes usadas <a href="http://www.google.com/fonts/" target="_blank">Google Fonts</a> &amp;
          <a href="http://entypo.com/" target="_blank">Entypo</a>
          <br><br>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_GB" target="_blank"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_GB">Creative Commons Attribution 3.0 Unported License</a>.
        </div>
      </div>

      <script src="/media/lib/main.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || []
        _gaq.push(['_setAccount', 'UA-15025032-4'])
        _gaq.push(['_trackPageview'])

        void function() {
          var ga   = document.createElement('script')
          ga.type  = 'text/javascript'
          ga.async = true
          ga.src   = ('https:' == document.location.protocol? 'https://ssl'
                   : 'http://www') + '.google-analytics.com/ga.js'
          var s    = document.getElementsByTagName('script')[0]
          s.parentNode.insertBefore(ga, s)
        }()
      </script>
  

</footer>
