<nav class="navigation">
  <section class="container">

    <a class="navigation-title" href="{{ site.baseurl }}/index.html">
      <h4 class="title" >{{ site.title }}</h4>
    </a>

    <ul class="navigation-list float-right">
      <li class="navigation-item">
        <a class="navigation-link" href="{{ site.baseurl }}/sobre" data-popover>Sobre</a>
        <a class="navigation-link" href="{{ site.baseurl }}/projetos" data-popover>Projetos</a>
        <a class="navigation-link" href="{{ site.baseurl }}/contato" data-popover>Contato</a>
	
      </li>
    </ul>
    
  </section>
</nav>
