<nav class="navigation">
  <section class="container">

    <spam class="navigation-title">
      <!-- <img class="img" src="img/logo.svg" height="30" alt="Milligram" title="Milligram"> -->
      <h1 class="title">{{ site.title }}</h1>
    </spam>

    <ul class="navigation-list float-right">
      <li class="navigation-item">
	<a class="navigation-link" href="{{ site.baseurl }}/index.html" data-popover>Home</a>
        <a class="navigation-link" href="{{ site.baseurl }}/about" data-popover>About</a>
	<a class="navigation-link" href="{{ site.baseurl }}/projects" data-popover>Projects</a>
	
      </li>
    </ul>
    
  </section>
</nav>
