{{ $disqusShortname := .Site.Params.disqusShortname }}

{{ if and (not .Params.draft) (and $disqusShortname .Site.Params.disqusEnabled) (not .Params.disableComments) (.IsPage) (not (eq .Type "page")) }}
<div class="post-comments">
    <h3>{{ .Site.Params.disqusTitle | default "Comentários" }}</h3>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ .Permalink }}';
            this.page.identifier = '{{ .RelPermalink }}';
            this.page.title = '{{ .Title | safeJS }}';
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ $disqusShortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Por favor, habilite JavaScript para ver os comentários do <a href="https://disqus.com/?ref_noscript">Disqus</a>.</noscript>
</div>
{{ end }} 