<!-- Preload critical resources -->
<link rel="preload" href="{{ "vendor/fonts/inter/Inter-400.ttf" | relURL }}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{ "vendor/fonts/inter/Inter-600.ttf" | relURL }}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{ "vendor/fonts/jetbrains-mono/JetBrainsMono-400.ttf" | relURL }}" as="font" type="font/ttf" crossorigin>

{{ if .Site.Params.giscus }}
<!-- Performance optimizations for Giscus -->
<link rel="dns-prefetch" href="//giscus.app">
<link rel="preconnect" href="//giscus.app">
{{ end }}

<!-- Meta tags para performance -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no"> 