# Arquivos temporários
*.exe
*.bkp
*.tmp
*.temp
.DS_Store

# Hugo
/public/
/blog/public/
/resources/
/.hugo_build.lock

.clj-kondo/*
.lsp/*
db.transit.json

# Node.js
/node_modules/
package-lock.json

# Logs
*.log

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo


